html,
body {
  height: 100%;
}
body {
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fde9),to (#d6d3a8));
  background-image: -webkit-linear-gradient(top, #f8fde9, #d6d3a8);
  background-image: -moz-linear-gradient(top, #f8fde9, #d6d3a8);
  background-image: linear-gradient(to bottom, #f8fde9, #d6d3a8);
}
.loginwindow {
    background-color: white;
    width: 25%;
    margin: 5% 37% 0 38%;
    box-shadow: 5px 5px 5px 5px lightslategrey;
}
.inputloginwindow {
    padding: 2px;
    width: 50%;
    margin: 5% 25%;
}
.buttonloginwindow {
    padding: 10px 15px;
    width: 40%;
    margin: 5% 30% 0 30%;
    background-color: deepskyblue;
    color:white;
}
.forget {margin-left: 45%;
}
img {
    height: 50%;
    width: 100%;
}
